<div class="card border border-primary-subtle rounded-2">
    <div class="card-header">Login</div>
    <div class="card-body">
        <form action="auth/login" method="post">
            <div class="mb-3">
                <label for="email-reg" class="form-label">E-mail</label>
                <input type="text" class="form-control" id="email-reg" name="email">
            </div>
            <div class="mb-3">
                <label for="password-reg" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-reg" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>